
body {
    background-position-x: 75px;
    height: 2000px;
    background: #5a5b5b;
    background-image: url("http://hotemailtemplates.com/templates/Free/wallpapers/1680x1050/Glowing%20Background.jpg");
}


header {
    background-color: rgba(104, 13, 116, 0.2);
    border-color: #cccccc;
    height: 110px;
    border-bottom-color: #666666;
    margin-left: 0;
    position: fixed;
    top:  0;
    width: 100%;
    z-index: 3;
    display: flex;
    background-image: url("http://hotemailtemplates.com/templates/Free/wallpapers/1680x1050/Glowing%20Background.jpg");
}

.btn {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #666666;
    background: rgba(61, 56, 56, 0.4);
}

.btn:hover {
    color: #65099e;
}


.name {
    border: 1px solid;
    background: rgba(7, 153, 186,.4);
    color: rgba(207,181,59,.6);
    font-size: 15px;
    width: 200px;
    height: 110px;
    padding-top: 10px;
    text-align: center;
    border-radius: .35rem;
}

.about {
    border: 1px solid;
    height: 500px;
    background: #d6d6d6;
    background-color: rgba(89, 13, 99, 0.6);
    margin-left: 0;
    margin-bottom: 20px;
    border-radius: .35rem;
    padding: auto 60;
}

.portfolio {
    height: 80%;
}


p {
    color: #afafac;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    padding-left: 10px;
}


.nav-item {
    margin-top: 35px;
}


button {
    margin: auto 8px;
           
}

a {
    color: #c2c0c4;
}

footer {
    background-color: rgba(30, 1, 99, 0.95);
    color:#ffffff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-top: 8px solid;
    border-color: rgba(207,181,59,.6);
    font-size: 15px;
    z-index: 2;
}

.submit {
    background-color: rgba(207,181,59,.6);
    color: whitesmoke;
    border: hidden;
    width: 90px;
    height: 32px;
}

.submit:hover {
    background: #9b9b29;
}

.submit:active {
    background: #666666;
}

h1,h2 {
    font-family: 'Amatic SC', cursive;
}

h2 {
    color: rgba(207,181,59,.7);
    margin-left: 15px;
    /* padding-bottom: 15px; */
    padding: 20px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(7, 153, 186,.6);
}


.portfolioimages {
    
    position: relative;
    z-index: 2;
    border-color: #afafac;
    padding: 0;
    width: auto; */
    padding-left: 0;
    padding-right: 0;
}

.img-thumbnail {
    padding: 0;
    border: 2px solid; 
    position: relative;
}


.buttons {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 200px;
    height: 20%;
    z-index: 3;
    background: rgba(142, 141, 142 .6);
    border: 1px hidden;
    margin: 0;
    padding: 0; 
    border-radius: .35rem;
}

.buttons:hover {
    color: #65099e;
     outline-width: 4px; 
    outline-color: #65099e;
    border-radius: .42rem;
    border-color: #65099e;
    border: 3px solid;
}

.buttons:active {
    background: rgba(207,181,59,.9);
}

.img {
    float: left;
    margin-right: 15px;
    border-radius: .35rem;
}

.maincontent {
    margin-top: 145px;
}

.form {
    color: #afafac;
}

.slide {
    border: 1px solid;
    background: rgba(61, 56, 56, 0.836);
    padding: 20px;
    color: rgba(207,181,59,.7);
}

.form-control {
    background: rgba(30, 1, 99, 0.6);
}

.form-control:active {
    background: rgb(207,181,59);
}

@media screen and (max-width: 640px) {
    header {
        position: static;
    }

    .about {
        height: 90%;
    }

    .portfolioimages {
        width: 100%;
        margin: 10px;
    }
    
    .about {
        max-width: 600;
    }
    .maincontent {
        max-width: 600;
    }
}




    



/* Pre-Bootstrap CSS /*

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel');


.container {
    width: 960px;
}


body{
    background-position-x: 75px;
    height: 1000px;
}


header {
    background-color: #d6d6d6;
    border-color: #cccccc;
    height: 75px;
    border-bottom: 1px solid;
    border-bottom-color: #666666;
    margin: -15px -30px 0 -15px;
    position: fixed;
    top:  0;
    width: 100%;
    z-index: 3;
}

h1,h2 {
    color: black;
    font-family: 'Amatic SC', cursive;
}

.name {
    border: 1px solid;
    background: #6b0808;
    float: left;
    margin-left: 25%;
    font-size: 15px;
    width: 200px;
    text-align: center;
    height: 75px;
}

h1 {
    height: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    margin-right: 25%;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #666666;
    padding-right: 0;
}

li {
    float: right;
    margin: 10px;
}

p {
    color: #2e2f30;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    padding-left: 10px;
}

.maincontent {
    clear: both;
}

.aboutme {
    border: 1px solid;
    width: 50%;
    height: 500px;
    float: center;
    background: #d6d6d6;
    margin: auto;
    margin-top: 80px;
    padding-right: 15px;
}

.portfoliocontent {
    border: 1px solid;
    width: 50%;
    height: 70%;
    float: center;
    background: #d6d6d6;
    margin: auto;
    margin-top: 40px;
    position: relative;
    z-index: 1;
    margin-top: 120px;
}

.form {
    background-color: #d6d6d6;
    border: 1px ridge;
    width: 50%;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #666666;
    padding-bottom: 40px;
    border-color: #666666;
    margin-top: 120px
}
.portfolio {
    border: 1px solid;
    position: relative;
    z-index: 1;
    width: 200px;
    float: left;
    margin-left: 15px;
    border-color: #afafac;
}

.hangman {
    border: 1px solid;
    position: relative;
    z-index: 1;
    width: 200px;
    margin-left: 25px;
    float: left;
    border-color: #afafac;
}

.rpg {
    border: 1px solid;
    clear: both;
    position: relative;
    z-index: 2;
    width: 200px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    border-color: #afafac;
    margin-bottom: 10px;
}

.trivia {
    border: 1px solid;
    position: relative;
    z-index: 2;
    width: 200px;
    float: left;
    margin-left: 25px;
    margin-top: 15px;
    border-color: #afafac;
}

.rutgers {
    border: 1px solid;
    clear: both;
    position: relative;
    z-index: 2;
    width: 200px;
    margin-left: 15px;
    margin-top: 25px;
    border-color: #afafac;
}
 
button {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 200px;
    height: 50px;
    z-index: 2;
    background: #6b0808;
    border: 1px hidden;
}


button:hover {
    background: #9b9b29;
}


button:active {
    background: #666666;
}

button:default {
    background: #6b0808;
}

.portfolio, h2 {
    border-bottom: 1px solid;
}

.form, h2 {
    border-bottom: 1px solid;
    margin-right: 10px;
    padding: 5px;
    
}


form {
    margin-left: 10px;
    padding: 10px;
}

h2 {
    color: #6b0808;
    margin-left: 15px;
    padding-bottom: 25px;
    padding-top: 5px;
}

footer {
    background-color: black;
    color:#ffffff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-top: 8px solid;
    border-color: #6b0808;
    font-size: 15px;
    overflow: auto;
    z-index: 2;
}

.img {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 0;
}

a {
    color:#6b0808;
}

.submit {
    background-color: #6b0808;
    color: whitesmoke;
    border: hidden;
    width: 90px;
    height: 32px;
}

.submit:hover {
    background: #9b9b29;
}

.submit:active {
    background: #666666;
}


@media screen and (max-width: 768px) {

.name {
    width: 100%;
    margin-left: 0;
}

.nav {
    width: 20%;
    padding: auto;
    border: 1px solid;
    text-align: center;
    background-color: #666666;
}

.bars {
    display: none;
}


.buttons {
    position: relative;
    right: 10px;
}

.portfoliocontent {
    width: 65%;
}

h2 {
    text-align: center;
}

.aboutme {
    width: 95%;
    height: 95%;
}

.form {
    width:60%;
    padding: auto;
    
}

.form {
    padding: auto;
}

}

@media screen and (max-width: 640px) {

.portfoliocontent {
    width: 60%;
    padding: 30px;;
}
width: 200px;

.aboutme {
    height: 1000px;
}

textarea {
    width: 200px;
}

body {
    height: 2000px;
}

#buttons {
    margin-top: 20px;
    align-content: center;
}



}










